@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes click-anim{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(.5);
    }
    100%{
        transform: scale(1);
    }
}

.click{
    animation: click-anim .3s linear;
}